{
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "proseWrap": "always"
}
