@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    padding: 15px;
}

h1 {
    @apply text-brown pb-4;
}
h2 {
    @apply text-black font-bold pb-2;
}

img {
    @apply m-1;
    height: 280px;
    width: 280px;
}
